<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">


  <div class="container-fluid">
    <div>
      <%= link_to "#", class: "navbar-brand" do %>
      <%= image_tag "logo.png" %>
      <h1>Studio</h1>
    </div>
    <div>
    <p>t itle</p>
    </div>
    <% end %>

<%# <!-- Search form -->
    <form action="" class="navbar-wagon-search">
      <input type="text" class="navbar-wagon-search-input" placeholder="Search Studio">
      <button type="submit" class="navbar-wagon-search-btn">
        <i class="fa fa-search"></i>
      </button>
    </form> %>

   <%= link_to "Post Studio", new_studio_path, class: "navbar-wagon-item navbar-wagon-button btn "%>




  </div>
</div>
