<div class="profil-page">
  <div class="banner-small mb-5 profil-page-banner">

    <div class="container">
      <h1> This is your Pages#profile <%= @current_user.nickname %> </h1>
      <p>Music studios</p>
    </div>
    <img class="avatar-large" alt="avatar-large" src="<%= current_user.photo_id_url %>" />
  </div>

  <h1 class="text-center mt-3">hello <%=  @user.email %></h1>


  <div class="container">

    <h2 class="text-center">Mes demandes</h2>

    <section class="cards-row row">
      <div class="cards-row_card col-12 col-md-4">
        <div class="cards-row-overlay">
          <img src="https://www.stevensegallery.com/300/200" alt="" class="cards-row_card-image">

          <div class="cards-row_card-content">
            <div class="d-flex">
              <div>
                <h3>Titre</h3>
                <p>Lorem ipsum dolor sit amet.</p>
              </div>

              <div class="cards-row-overlay_content">
                <i class="fas fa-usd-circle"></i>
                300 $
              </div>
            </div>
          </div>
        </div>



      </div>

      <div class="cards-row_card col-12 col-md-4">
        <div class="cards-row-overlay">
          <img src="https://www.stevensegallery.com/300/200" alt="" class="cards-row_card-image">

          <div class="cards-row_card-content">
            <div class="d-flex">
              <div>
                <h3>Titre</h3>
                <p>Lorem ipsum dolor sit amet.</p>
              </div>

              <div class="cards-row-overlay_content">
                <i class="fa-solid fa-circle-dollar"></i>
                300 $
              </div>
            </div>
          </div>
        </div>



      </div>

      <div class="cards-row_card col-12 col-md-4">
        <div class="cards-row-overlay">
          <img src="https://www.stevensegallery.com/300/200" alt="" class="cards-row_card-image">

          <div class="cards-row_card-content">
            <div class="d-flex">
              <div>
                <h3>Titre</h3>
                <p>Lorem ipsum dolor sit amet.</p>
              </div>

              <div class="cards-row-overlay_content">
                <i class="fa-solid fa-circle-dollar"></i>
                300 $
              </div>
            </div>
          </div>
        </div>



      </div>

      <div class="cards-row_card col-12 col-md-4">
        <div class="cards-row-overlay">
          <img src="https://www.stevensegallery.com/300/200" alt="" class="cards-row_card-image">

          <div class="cards-row_card-content">
            <div class="d-flex">
              <div>
                <h3>Titre</h3>
                <p>Lorem ipsum dolor sit amet.</p>
              </div>

              <div class="cards-row-overlay_content">
                <i class="fa-solid fa-circle-dollar"></i>
                300 $
              </div>
            </div>
          </div>
        </div>



      </div>


      <div class="cards-row_card col-12 col-md-4">
        <div class="cards-row-overlay">
          <img src="https://www.stevensegallery.com/300/200" alt="" class="cards-row_card-image">

          <div class="cards-row_card-content">
            <div class="d-flex">
              <div>
                <h3>Titre</h3>
                <p>Lorem ipsum dolor sit amet.</p>
              </div>

              <div class="cards-row-overlay_content">
                <i class="fa-solid fa-circle-dollar"></i>
                300 $
              </div>
            </div>
          </div>
        </div>



      </div>

    </section>

    <h2 class="text-center">Mes résas</h2>

  </div>

</div>
