<div class="banner-small mb-5" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container">
    <h1> This is your Pages#profile </h1>
    <p>Music studios</p>
  </div>
</div>

<img class="avatar-large" alt="avatar-large" src="https://kitt.lewagon.com/placeholder/users/arthur-littm" />

<h1 class="text-center">hello <%=  @users.first.email %></h1>


<div class="container">


<p>--------Mes résas-------------</p>

Bonjour, je m'appelle Jean Emmanuel
Membre depuis 2016
Modifier le profil
À propos de
Lillois d’adoption, originaire de Picardie, toujours à la recherche de bons spots pour se détendre !
Habite à Le Meux, France


</div>


<p class="aligncenter">
    <img src="image.jpg" alt="centered image" />
</p>
