.btn-blue {
  border-radius: 4px;
  background-color: $primary-color;
  color: $secondary-color;
}

.btn-white {
border-radius: 4px;
background-color: $secondary-color;
color: $primary-color;
}

.btn-transparent {
  border-radius: 4px;
  background-color: transparent;
  border-color: $primary-color;
  color: $primary-color;
}

.btn-transparent:hover {
  border-color: $secondary-color;
  background-color: transparent;
  border-radius: 4px;
  color: $secondary-color;
}

.btn-search {
border-radius: 4px;
background-color: $secondary-color;
color: $primary-color;
position: absolute;
justify-content: center;
display: flex;
}
