.btn-transparent-blue {
  border-radius: 5px;
  background-color: transparent;
  border-color: $primary-color;
  color: $primary-color;
  text-decoration: none;
  padding: 8px;
  border: solid;
  border-width: thin;
 &:hover{
   text-decoration: none;
   color: $primary-color;
 }
}

.btn-transparent-white {
  border-radius: 5px;
  background-color: transparent;
  border-color: $secondary-color;
  color: $secondary-color;
  text-decoration: none;
  padding: 8px;
  border: solid;
  border-width: thin;
 &:hover{
   text-decoration: none;
   color: $secondary-color;
   border-width: 2px;
 }
}

.btn-blue {
  border-radius: 5px;
  background-color: $primary-color;
  color: $secondary-color;
  text-decoration: none;
  padding: 8px;
  border: solid;
  border-width: thin;
 &:hover{
   text-decoration: none;
   color: $secondary-color;
 }
}

.btn-white {
  border-radius: 5px;
  background-color: $secondary-color;
  color: $primary-color;
  text-decoration: none;
  padding: 8px;
  border: solid;
  border-width: thin;
 &:hover{
   text-decoration: none;
   color: $primary-color;
  }
}

.link-without-style {
  text-decoration: none;
}
