.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 0 0 #F4F4F4, 0.1rem 0.1rem 6px #1d3249;
  text-decoration: none;
  opacity: 0.8;
  transition: 0.4s ease-out;
  h2 {
    font-size: 20px;
  }
}

.card-category:hover{
  opacity: 1;
  margin-top: -5px;
}

.card-studio-description {
  display: none;
}

.card-category:hover .title-studio-card {
  display: none;
}

.card-category:hover .card-studio-description {
  display: block;
  justify-content: center;
  margin: 2px;
  font-size: small;
  padding: 30px;
}

.cards-grid {
  flex-grow: 1;
  margin-top: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  margin-bottom: 10px;
  width: 100%;
}


// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards-grid {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards-grid {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards-grid {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.title-card {
  color : white;
  text-decoration: none;
}

.title-card:hover {
  text-decoration: none;
  color: grey
}

.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  border-radius: 5px;
  box-shadow: 0 0 0 0 #ec008c, 0.5rem 0.5rem 30px #13092d;
  display: flex;
  align-items: center;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}

// ---------------- profile.html et show.html --------------

.card-booking {
  background-color: gray;
  height: 30px;
  margin-left: 10px;
  margin-bottom: 4px;
  border-radius: 5px;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.7;
  h3 {
    font-size: 12px !important;
    margin-bottom: 0;
  }
  &:hover {
    opacity: 1;
  }
}


.card-profile-studio {
  border: solid;
}

.bookings-profile-card {
  padding: 10px;
  line-height: 1px;
  width: auto;
  margin: 0 auto;
  border-radius: 5px;
  border: solid;
  border-width: 1px;
  border-color: darkgray;
  p {
    font-size: 12px;
  }
  .link_to {
    color: black;
    font-size: 16px;
    opacity: 0.6;
    &:hover {
      opacity: 1;
    }
  }
}
.bookings-all-cards {
  display: -webkit-inline-flex;
}

.card-reviews {
  width: 190px;
  height: 254px;
  border-radius: 30px;
  background: #e0e0e0;
  box-shadow: 15px 15px 30px #bebebe,
              -15px -15px 30px #ffffff;
 }
